/*********  mainHeader  *************/
#mainHeader {
    background-color:#13C6FF;
    display: flex;
    width: 100%;
    flex-flow: wrap;
    padding: 12px;
    padding-left: 40px;
}

/* * {
    border: 1px solid red;
} */

.buttonPurple a,
.buttonPurple {
    background-color: #4B56A5;
    border-radius: 2px;
    font-family: Cooper Hewitt;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    padding: 10px;
}
.buttonPurple a:hover,
.buttonPurple:hover {
    border: 2px solid #4B56A5;
    border-radius: 2px;
    background-color: #ffffff;
    color: #4B56A5;
}

#buttonPurplePrevious {
      background-color: #4B56A5;
    border-radius: 2px;
    font-family: Cooper Hewitt;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
    padding: 10px;
}

#buttonPurplePrevious:hover {
    border: 2px solid #4B56A5;
    border-radius: 2px;
    background-color: #ffffff;
    color: #4B56A5;
}



.docs-section tr:nth-child(even), article tr:nth-child(even) {background-color: #f2f2f2;}
.docs-section tr:nth-child(odd), article tr:nth-child(odd) {background-color: #FFF}

.docs-section th, article th {
  padding: 5px;
  color: white;
  background-color: black;
}

.docs-section td {
    padding: 5px;
    word-wrap: break-word;
}

.docs-section h1, h2, h3 {
  padding: 20px 0px;
}

.docs-section h3 {
    border-top: 1px solid #d3d3d3;
}

.docs-section p, ul, pre {
    padding-bottom: 10px;
}

.docs-section p {
    line-height: 1.4em;
}

.docs-section table {
    width: 100%;
  margin: 30px;
  table-layout: fixed;
}

.docs-section code {
    color: rgb(127, 81, 31);
    background-color: rgb(252, 252, 252);
}

.docs-section table td > code {
    color: rgb(127, 81, 31);
    background-color: rgba(245, 245, 245, 0);
}

.docs-section pre > code {
    color: #4d4c4c;
    background-color: rgba(245, 245, 245);
}

/****** Landing Page  *************/

#landingpage-button {
    background-color: #4B56A5;
    border-radius: 2px;
    font-family: "Cooper Hewitt";
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #ffffff;
}

#landingpage-button:hover {
    border: 2px solid #4B56A5;
    border-radius: 2px;
    background-color: #ffffff;
    color: #4B56A5;
}
.top-level-nav > a {
    font-weight: 800;
    color: black;
}

.top-level-nav {
    margin-bottom: 5px;
}

.second-level-nav > div {
    padding-left: 20px;
    color: #5e5d5d;
    cursor: pointer;
}

.third-level-nav, .second-level-nav > a {
    padding-top: 5px;
}

.third-level-nav > a, .second-level-nav > a{
    color: #969393;
}

.second-level-nav div {
    padding-left: 10px;
}

.third-level-nav > a > p{
    padding-left: 10px;
    color: #969393;
    border-left: 1px solid #969393;
    margin: 0px 0px 0px 40px;
    cursor: pointer;
}

.chosen > div {
    color: #13C6FF;
}

.lesson-square {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    box-shadow: 2px 5px #6d8b94;
    display: "block";
    margin: 20px auto;
}

.lesson-square-header {
    font-size: 20px;
    margin-bottom: 25px;
}

.lesson-square-icon {
    font-size: 20px;
    padding-top: 20px;
}

.lesson-square-description {
    text-align: center;
    font-size: 16px;
    margin: 0px 10px;
}

.beginner {
    background-color:  #4B56A5;
    box-shadow: 2px 5px #ccc;
    color: #fff;
}

.beginner:hover{
    background-color: #B775D6;
    cursor: pointer;
    box-shadow: 2px 5px #ccc;
    color: #fff;
    text-decoration: none;
}

.intermediate {
    background-color: #C6D4FF;
    box-shadow: 2px 5px #ccc;
    color: #091133;
}

.intermediate:hover{
    background-color: #509fb7;
    cursor: pointer;
    box-shadow: 2px 5px #ccc;
    color: #091133;
    text-decoration: none;
}

.example {
    background-color: #e6a9c7;
    box-shadow: 2px 5px #a85981;
    color:#091133;
}

.example:hover{
    background-color: #792b52;
    cursor: pointer;
    box-shadow: 2px 5px #a85981;
    color: #e8c8d8;
}



.no-underline{
    text-decoration: none !important;
}

.challenge{
    margin-top: 20px;
    padding: 0px 20px 20px;
    border: 5px solid #a6a3a3;
    background-color: #3f3b3b;
    color: white;
}

.challenge li{
    padding-bottom: 5px;
}

.fixedSidebar {
    top: 20px;
    left: 20px; 
    bottom: 20px;
    overflow-y: scroll;
}


@media only screen and (max-width: 995px){
    .fixedSidebar {
        position: inherit;
        padding-bottom: 5px;
        border-bottom: 1px solid black;
    }
    .sidebar {
        padding-bottom: 5px;
        border-bottom: 1px solid black;
    }
    .docs-section {
        padding: 5px 20px;
    }
    
} 

@media only screen and (min-width: 996px){
    .fixedSidebar {
        position: fixed; 
    }
} 

.sidebar {
    padding-left: 20px;
}

.medium-img {
    height: 400px;
    width: 400px;
}

.float-left {
    float: left;
    margin-right: 15px;
}

.float-right {
    float: right;
    margin-left: 15px;
}

.search-results {
    width: 50%;
    border: 1px solid #a6a3a3;
    padding-left: 5px;
    margin: 10px 0;
    cursor: pointer;
}

.search-results h2 {
    color: #d8418c;
    text-decoration: underline;
}

